* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font for the whole page */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.activity-feed-page{

    /* centers the login box */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    /* campus image with white overlay */
    background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.55),
            rgba(255, 255, 255, 0.55)
        ),
        url("../images/campus-background.jpg");

    /* keeps image covering the screen */
    background-size: cover;
    background-position: center;
}
.feed-header{
text-align: center;
margin-bottom: 30px;
}
.feed-header h1{
     font-size: 36px;
    color: #ba0c2f;
    margin-bottom: 8px;
}
.feed-header p{
     color: #555;
    font-size: 16px;
}
.activity-feed{

    width: 100%;
    max-width: 700px;

    /* slightly transparent white background */
    background-color: rgba(255, 255, 255, 0.95);

    padding: 40px;

    /* rounds the corners */
    border-radius: 14px;

    /* shadow behind login box */
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.18);
}


